<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jit.csi.mapper.ArticleMapper">
    <resultMap id="baseMap" type="article">
        <id property="articleID" column="articleID"/>
        <result property="userID" column="userID"/>
        <result property="postTitle" column="postTitle"/>
        <result property="postText" column="postText"/>
        <result property="postPageviews" column="postPageviews"/>
        <result property="postAudio" column="postAudio"/>
        <result property="postTime" column="postTime"/>
        <result property="postCom" column="postCom"/>
        <result property="lastCom" column="lastCom"/>
        <result property="zan" column="zan"/>
        <association property="user" javaType="user">
            <id property="userID" column="userID"/>
            <result property="userName" column="userName"/>
            <result property="password" column="password"/>
            <result property="regAge" column="regAge"/>
            <result property="regSex" column="regSex"/>
            <result property="regEmail" column="regEmail"/>
            <result property="regPhoto" column="regPhoto"/>
            <result property="admin" column="admin"/>
            <result property="regTime" column="regTime"/>
            <result property="loginTime" column="loginTime"/>
            <result property="login" column="login"/>
        </association>
    </resultMap>
    <resultMap id="cMap" type="comments">
        <id property="commentID" column="commentID"/>
        <result property="articleID" column="articleID"/>
        <result property="cmText" column="cmText"/>
        <result property="cmAudio" column="cmAudio"/>
        <result property="cmTime" column="cmTime"/>
        <result property="zan" column="zan"/>
        <association property="user" javaType="user" column="user">
            <id property="userID" column="userID"/>
            <result property="userName" column="userName"/>
            <result property="password" column="password"/>
            <result property="regAge" column="regAge"/>
            <result property="regSex" column="regSex"/>
            <result property="regEmail" column="regEmail"/>
            <result property="regPhoto" column="regPhoto"/>
            <result property="admin" column="admin"/>
            <result property="regTime" column="regTime"/>
            <result property="loginTime" column="loginTime"/>
            <result property="login" column="login"/>
        </association>
    </resultMap>
    <select id="findhotComment" parameterType="int" resultMap="cMap">
        SELECT * FROM comments c left join user using (userID) where c.articleID=#{articleID}
        order by c.zan desc limit 5;
    </select>
    <select id="findAllCommentByTime" parameterType="int" resultMap="cMap">
        SELECT * FROM comments c left join user using (userID) where c.articleID=#{articleID}
        order by cmTime desc;
    </select>

    <select id="findAllArticles" resultMap="baseMap">
        select * from article left join user using (userID)
        group by articleID;
    </select>

    <select id="findArticleByTitle" parameterType="string" resultMap="baseMap">
        select * from article left join user using (userID)
        where postTitle like  concat('%',#{postTitle},'%') group by articleID;
    </select>
    <select id="findArticleById" parameterType="int" resultMap="baseMap">
        select * from article left join user using (userID)
        where article.articleID=#{id} group by articleID;
    </select>

    <update id="updateArticleById" parameterType="article">
        update article
        <set>
            <if test="postPageviews != null">
                postPageviews = #{postPageviews},
            </if>
            <if test="postAudio != null">
                postAudio = #{postAudio},
            </if>
            <if test="postTime != null">
                postTime = #{postTime},
            </if>
            <if test="postText != null">
                postText = #{postText},
            </if>
            <if test="postTitle != null">
                postTitle = #{postTitle},
            </if>
        </set>
        where articleID = #{articleID}
    </update>

    <delete id="delteArticleByTitle" parameterType="string">
        delete from article
        where postTitle = #{postTitle}
    </delete>
    <delete id="deleteByLogic"  parameterType = "java.util.List">
        delete from article where articleID in
        <foreach item="item" collection="list" open="(" separator="," close=")">
            #{item}
        </foreach>

    </delete>


    <insert id="insertArticle" parameterType="article">
        insert into article ( userID, postTitle, postAudio, postText )
        values (#{userID}, #{postTitle}, #{postAudio}, #{postText} );
    </insert>
    <select id="selectID" resultType="int" >
        select last_insert_id();
    </select>


</mapper>