<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jit.csi.mapper.ZanMapper">
    <resultMap id="ucMap" type="Uczan">
        <id property="commentID" column="commentID"/>
        <result property="userID" column="userID"/>
    </resultMap>
    <resultMap id="uaMap" type="Uazan">
        <id property="articleID" column="articleID"/>
        <result property="userID" column="userID"/>
    </resultMap>
    <insert id="insertucZan" parameterType="int">
        insert into u_c_zan values(#{cid},#{uid});
    </insert>
    <delete id="deleteucZanByUid" parameterType="int">
        delete from u_c_zan where userID=#{uid};
    </delete>
    <insert id="insertuaZan" parameterType="int">
        insert into u_a_zan values(#{aid},#{uid});
    </insert>
    <delete id="deleteuaZanByUid" parameterType="int">
        delete from u_a_zan where userID=#{uid};
    </delete>

</mapper>